@model AnimalesModels.editarAnimal

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Animal</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label">Tipo</label>
                <input asp-for="tipo" class="form-control" />
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nacimiento" class="control-label">Fecha de Nacimiento</label>
                <input asp-for="nacimiento" class="form-control" />
                <span asp-validation-for="nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estatus" class="control-label">Estatus</label>
                <input asp-for="estatus" class="form-control" />
                <span asp-validation-for="estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="corral" class="control-label">Numero de Corral</label>
                <input asp-for="corral" class="form-control" />
                <span asp-validation-for="corral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="envioMatadero" class="control-label">Fecha de Procesamiento</label>
                <input asp-for="envioMatadero" class="form-control" />
                <span asp-validation-for="envioMatadero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

